*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: $header-height 0 0 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: $font-semi-bold;
  color: $title-color;
}

ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

// Mixins
