/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home {
    &__container {
      padding: 5rem 0 0;
    }
    &__img {
      order: 1;
    }
  }

  .home__img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(#{$header-height} + 1.5rem);

    &__list {
      @include flex();
    }
    &__item {
      margin-left: $mb-5;
      margin-bottom: 0;
    }
    &__toggle {
      display: none;
    }
  }

  .home__container {
    padding: 7rem 2rem 0;
  }
}

@media screen and (min-width: 968px) {
  .container-layout {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 469px;
  }

  .home__container {
    column-gap: 5rem;
  }
}

/* Show menu when toggled */
.show-menu {
  top: calc(#{$header-height} + 1rem);
}
