/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
/* Layout */
/* Colors */
/* Font and typography */
/* Font weight */
/* Margins */
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.bd-grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 0.938rem;
  background-color: #ffffff;
  color: #5b5757;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: #161212;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  background-color: #92e3a9;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background-color: #4fe378;
}

.button-link {
  background: none;
  padding: 0;
  color: #92e3a9;
}

.button-link:hover {
  background-color: transparent;
  color: #4fe378;
}

.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
  }
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__link, .nav__logo, .nav__toggle {
  color: #161212;
  font-weight: 600;
}

.nav__logo:hover {
  color: #92e3a9;
}

.nav__link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  color: #92e3a9;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Active menu link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: #161212;
  border-radius: 50%;
}

/* header */
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__container {
    padding: 5rem 0 0;
  }
  .home__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .home__img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 7rem;
  }
  .nav {
    height: calc(3rem + 1.5rem);
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    margin-left: 2.5rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home__container {
    padding: 7rem 2rem 0;
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 469px;
  }
  .home__container {
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
}

/* Show menu */
.show-menu {
  top: calc(3rem + 1rem);
}
/*# sourceMappingURL=main.css.map */